# Kubernetes Deployment: guestbook-ui
#
# This manifest would be in the `guestbook` directory of the Git repository
# specified in `application.yaml`.
#
# It defines a Deployment for the frontend of the guestbook application.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: guestbook-ui
  template:
    metadata:
      labels:
        app: guestbook-ui
    spec:
      containers:
      - image: gcr.io/heptio-images/ks-guestbook-demo:0.2
        name: guestbook-ui
        ports:
        - containerPort: 80
